.auth-container{
    max-width: 400px;
    margin:100px auto;
    padding:30px;
    border-radius: 8px;
    text-align: center;
    color:white;
    box-shadow:0 0 10px rgba(255,255,255,0.7); 
}
.auth-container h2{
    color:#e50914;
    margin-bottom: 20px;
    font-size: 48px;
}
.auth-container input{
    width:100%;
    padding:12px;
    background-color:#333;
    border:none;
    margin-bottom: 10px;
    color:white;
    font-size: 16px;
    border-radius: 8px;
}
.auth-container button{
    width:100%;
    background:#e50914;
    padding:12px;
    border:none;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
    cursor:pointer;
    transition:background 0.4s ease;
}
.auth-container button:hover{
    background-color: #b00610;
}
.auth-container p{
    margin-top: 15px;
    color:#e50914;
    font-size: 14px;
    cursor:pointer
}
.auth-container p:hover{
    text-decoration: underline;
}
